.section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: rgb(32, 32, 32);
}

nav {
  max-width: 1080px;
  margin: 0 auto;
  color: rgb(238, 238, 238);
  width: 100%;
  padding: 1rem;
}


.book-image {
  max-width: 130px;
  width: 100%;
}