/* .featurers-book-container {
  position: relative;
} */

.featurebook-box {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.swiper-pagination {
  margin: auto;
  margin: 60px 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--color-main);
}

/* .feature-border {
  margin-top: 30px;
} */

.feature-btn {
  margin: auto;
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .feature-btn {
    margin: auto;
    margin-top: 20px;
  }
}