.baselayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.baselayout__wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.baselayout__wrapper aside {
  transition: all 0.3s;
  margin-left: 0px;
}

.toggle-sidebar .baselayout__wrapper aside {
  margin-left: -150px;
}

.baselayout__content {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 1rem 1rem 4rem 1rem;
}


/* .toggle-sidebar .admin-dashboard {
  display: none;
} */
