* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.admin-main {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color-primary);
  color: var(--color-primary);
}

.admin-main__container {
  display: flex;
  width: 100%;
  max-width: none;
  margin: unset;    
}

.admin-main__menu-container {
  width: 150px;
  padding: 5px 20px;
  border-right: 2px solid var(--bg-color-secondary);
}

.admin-main__content-container {
  flex: 1;
  padding: 20px;
}