.data-table__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 0 auto;
  text-align: left;
}

.data-table__download-btn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.data-table__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.data-table__debounced {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data-table__debounced-input {
  padding: 10px;
  background: transparent;
  outline: none;
  transition-duration: 0.3s;
  border-color: transparent;
  border-bottom: 2px solid #4a5568;
}

.data-table__table thead {
  background-color: #CCE4FF;
  color: black
}

.data-table__table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-transform: capitalize;
}

.data-table__table tr {
  border: 1px solid #ddd;
  padding: 8px;
  text-transform: capitalize;
}

.data-table__table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px 10px;
}

.data-table__table td img {
  width: 35px;

}
.data-table__search-bar {
  margin-bottom: 20px;
}

.bg-gray-900 {
  background-color: #1a202c;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.data-table__pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.data-table__pagination button {
  background-color: #4a5568;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.data-table__pagination span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}