.books {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px)); 
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 4rem;
  flex-wrap: wrap;
}