article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

article p { 
  font-size: 26px;
  width: 60%;
  margin: 56px auto 20px auto;
  text-align: center;
}

article h5 {
  font-family: var(--font-family-prata);
  font-size: 22px;
  color: var(--color-black);
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 1024px) {
  article p {
    width: 80%;
    font-size: 22px;
  }

  h5 {
    font-size: 18px !important;
  }
}

@media (max-width: 600px) {
  article p {
    width: 100%;
    font-size: 18px;
  }
}