.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.top-container__input-box {
  width: 350px;
  max-width: 350px;
  height: 45px;
  position: relative;
}

.top-container__input-box input {
  width: 100%;
  height: 100%;
  background: #19162c;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  color: #d0cfd4;
  font-size: 1rem;
  padding: 0px 40px;
}

.top-container__input-box input::placeholder {
  color: #757380;
}

.top-container__input-box i {
  position: absolute;
  top: 0;
  left: 0;
  color: #757380;
  font-size: 20px;
  width: 40px;
  height: 45px;
  text-align: center;
  line-height: 52px;
}

.top-container__profile-container p {
  color: #d0cfd4;
  font-size: 10px;
  font-family: var(--font-alt);
}