.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background-color: #fff;
  padding: 20px 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transform: var(--transition);
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

 @media (max-width: 768px) {
  .sidebar .sidebar-show {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .sidebar {
    width: auto;
    padding: 20px 6px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 260px;
    transform: translateX(-100%);
  }
}


.sidebar::-webkit-scrollbar-thumb {
  background-color: #575777;
  border-radius: 100vh !important;
  outline: 1px solid rgba(0, 0, 0 0,02);
  outline-offset: -1px;
}


.sidebar-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--border-color-inverted);
}

.sidebar-brand{
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.sidebar-brand-text{
  text-transform: uppercase;
  font-weight: 900;
  color: var(--logo-color);
  margin-bottom: 8px;
}

.sidebar-close-btn{
  background-color: var(--toggle-btn-bg-color);
  width: 28px;
  height: 28px;
  box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--toggle-btn-icon-color);
  border-radius: 2px;
  transition: var(--default-transition);
}

.sidebar-close-btn:hover{
  background-color: var(--toggle-btn-bg-color-hover);
  color: var(--toggle-btn-icon-color-hover);
}

.menu-items{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.sidebar-body{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu2{
  margin-top: auto;
}