.footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;	
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding: 20px;
}

.footer:first-child {
  color: #000;
  font-weight: bold;
}

.footer:last-child {
  font-size: 14px;
  color: #000;
}