.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.navbar__logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.navbar__icons {
  display: flex;
  align-items: center;
  gap: 20px;
} 

.navbar__notifications {
  position: relative;
  cursor: pointer;
}

.navbar__notifications span {
  background-color: red;
  font-size: 12px;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__user img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}