.categories-buttons__content-righ {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.categories-buttons__form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.categories-buttons__form-input label {
  text-align: center;
  margin-bottom: 1rem;
}

.categories-buttons__form-input button {
  width: auto !important;
}

.categories-buttons .selected {
  background: var(--color-primary);
  color: var(--color-light);
}