.menu {

}

.menu__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.menu__item--title {
  font-size: 12px;
  font-weight: 200;
  color: var(--color-secondary);
}

.menu__item--link {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}

.menu__item--link:hover {
  background-color: var(--bg-color-secondary);
}
